# Built-in Functions

In [ ]:
1. int()
2. complex()
3. float()
4. str()
5. list()
6. set()
7. tuple()
8. frozenset()
9. dict()
10. bool()
11. id()
12. bin()
13. range()
14. print()
15. len()
16. input()
17. chr()
18. sorted()
19. reversed()
20. enumerate()
21. eval()
22. type()
23. ord()
24. max()
25. min()
26. sum()
27. abs()
28. zip()
29. filter()
30. map()

# 1. zip()

In [ ]:
create a dictionary from two iterable

zip function is used for mapping. Two iterables into dictionary datatype.
# JSON is a dictionary

Output is in python object
Mostly used to convert it into dictionary

In [1]:
sub_names = ['Phy', 'Che', 'Math', 'Bio']
sub_marks = [87,92,98,96]

dict1 = {}

for i in range(len(sub_names)):
    dict1[sub_names[i]] = sub_marks[i]
    
dict1

{'Phy': 87, 'Che': 92, 'Math': 98, 'Bio': 96}

In [3]:
sub_names = ['Phy', 'Che', 'Math', 'Bio']
sub_marks = [87,92,98,96]

dict(zip(sub_names,sub_marks))

{'Phy': 87, 'Che': 92, 'Math': 98, 'Bio': 96}

In [6]:
name = ["Viat", "Rohit", "Dhoni", "Pandya"]
age = [34, 33, 40, 29]

print(zip(name,age))

print(dict(zip(name,age)))

<zip object at 0x00000208CF6660C0>
{'Viat': 34, 'Rohit': 33, 'Dhoni': 40, 'Pandya': 29}

In [7]:
name = ["Viat", "Rohit", "Dhoni", "Pandya"]
age = [34, 33, 40, 29]

list(zip(name,age))

<zip object at 0x00000208CF667180>

[('Viat', 34), ('Rohit', 33), ('Dhoni', 40), ('Pandya', 29)]

In [8]:
name = ["Viat", "Rohit", "Dhoni", "Pandya"]
age = [34, 33, 40, 29]

tuple(zip(name,age))

(('Viat', 34), ('Rohit', 33), ('Dhoni', 40), ('Pandya', 29))

In [9]:
name = ["Viat", "Rohit", "Dhoni", "Pandya"]
age = [34, 33, 40, 29]

set(zip(name,age))

{('Dhoni', 40), ('Pandya', 29), ('Rohit', 33), ('Viat', 34)}

In [12]:
name = ["Viat", "Rohit", "Dhoni", "Pandya"]
age = [34, 33, 40, 29, 33]

dict(zip(name,age))

{'Viat': 34, 'Rohit': 33, 'Dhoni': 40, 'Pandya': 29}

In [13]:
name = ["Viat", "Rohit", "Dhoni", "Pandya"]
age = [34, 33, 40, 29, 33]
score = [100,200,100,100]

dict(zip(name,age,score))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

# 2. filter()

In [ ]:
Syntax:
    filter(function_name, iterable)
    
It only returns True value
It gives an output in python object.

Syntax:
    list(filter(function_name, iterable))
    tuple(filter(function_name, iterable))

iterable >> list, tuple, set
You can pass only one iterable

In [14]:
lst = [4,5,1,2,64,79,45,21,12,34,46]

output = [i for i in lst if i % 2 !=0]
output

[5, 1, 79, 45, 21]

In [15]:
def test_odd_number(x): # x = 5
    if x % 2 != 0: # True
        return x
    
    
test_odd_number(5)

5

In [16]:
def test_odd_number(x): # x = 5
    if x % 2 != 0: # True
        return x
    
    
test_odd_number(4)

In [6]:
def test_odd_number(x): 
    if x % 2 != 0: 
        return x
    
lst = [4,5,1,2,64,79,45,21,12,34,46]
test_odd_number(lst)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [4]:
def test_odd_number(x):   # for single value
    if x % 2 != 0: 
        return x
    
lst = [4,5,1,2,64,79,45,21,12,34,46]
list(filter(test_odd_number, lst))

[5, 1, 79, 45, 21]

In [20]:
odd_num = lambda x : x % 2 != 0
odd_num(12)

False

In [21]:
odd_num = lambda x : x % 2 != 0
odd_num(11)

True

In [22]:
lst = [4,5,1,2,64,79,45,21,12,34,46]

list(filter(lambda x : x % 2 != 0, lst))

[5, 1, 79, 45, 21]

In [23]:
list1 = [4,5,1,2,64,79,45,21,12,34,46]

list(filter(lambda x : x % 2 == 0, list1))

[4, 2, 64, 12, 34, 46]

In [24]:
string = "Python and Machine Learning"

list(filter(lambda x: x.isupper(), string))

['P', 'M', 'L']

In [30]:
string = "Python and Machine Learning"

lower = list(filter(lambda x: x.islower(), string))
print(lower)

# COnvert list into str
"".join(lower)

['y', 't', 'h', 'o', 'n', 'a', 'n', 'd', 'a', 'c', 'h', 'i', 'n', 'e', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

'ythonandachineearning'

In [31]:
string = "Python and Machine Learning"

list(filter(lambda x: x.upper(), string))

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'M',
 'a',
 'c',
 'h',
 'i',
 'n',
 'e',
 ' ',
 'L',
 'e',
 'a',
 'r',
 'n',
 'i',
 'n',
 'g']

In [32]:
string = "Python and Machine Learning"

list(map(lambda x: x.upper(), string))

['P',
 'Y',
 'T',
 'H',
 'O',
 'N',
 ' ',
 'A',
 'N',
 'D',
 ' ',
 'M',
 'A',
 'C',
 'H',
 'I',
 'N',
 'E',
 ' ',
 'L',
 'E',
 'A',
 'R',
 'N',
 'I',
 'N',
 'G']

In [33]:
string = "Python and Machine Learning"

list(map(lambda x: x.isupper(), string))

[True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [34]:
string = "Python and Machine Learning"

list(filter(lambda x: x.isupper(), string))

['P', 'M', 'L']