# Lambda Function

In [ ]:
Function without name
called as "Anonymous Function"
Defined by using lambda keyword
lambda --> reserved keyword in python

NO need to use def keyword
No need to use return statement

When short period of time activity or perform small operations...
i.e. Expressions is in single line

# Syntax of lambda function

In [ ]:
Syntax:
    lambda arguments : expression
    
Arguments >> 1 or more
Expression >> should be only one

It will always return an python object.

In [2]:
def square(a):
    return a ** 2

square(5)

25

In [3]:
def my_fun(x,y):
    return x + y

my_fun(5,6)

11

In [ ]:
lambda a : a ** 2
lambda a,b : a + b

In [4]:
lambda a : a ** 2

In [5]:
# 1st Way
sqr = lambda a : a ** 2
        # Argument : Expression
sqr(5)

25

In [6]:
# 2nd Way
(lambda a : a ** 2)(10)

100

In [7]:
# Addition

add = lambda x,y : x+y
add(10,20)

30

In [8]:
# Multiplication

mul = lambda x,y : x*y
mul(10,20)

200

In [9]:
# Multiplication

mul = lambda x,y,z : x*y*z
mul(10,20,2)

400

In [10]:
# Multiplication

mul = lambda x,y,z : x*y*z
mul(10,20)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [11]:
# Average

mul = lambda x,y,z : (x+y+z)/3
mul(10,20,30)

20.0

In [ ]:
Iterables : List, Tuple, set

In [12]:
add = lambda lst : sum(lst)
add([2,3,4])

9

In [15]:
add = lambda lst : sum(lst)

a = 2,3,4
add(a)

9

In [17]:
add = lambda lst : sum(lst)
add(2,3,4)

9

In [18]:
# Average

mul = lambda x,y,z=60 : (x+y+z)/3
mul(10,20)

30.0

In [19]:
# Average

mul = lambda x,y,z=60 : (x+y+z)/3
mul(10,20,30)

20.0

In [20]:
add = lambda *args : sum(args)
add(2,3,4,5,6,7,8)

35

In [21]:
add = lambda **kwargs : sum(kwargs.values())
add(a = 10, b= 20, c= 30)

60

In [27]:
def cube(lst):    
    cube_list = [i**3 for i in lst]
    return cube_list


l1 = [3,4,5,6]

cube(l1)

[27, 64, 125, 216]

In [28]:
cube([2,3])

[8, 27]

In [30]:
cube_list = lambda list1 : [i**3 for i in list1]
print(cube_list([2,3]))

[8, 27]

In [33]:
square_list = lambda list1 : [i**2 for i in list1]
print(square_list([2,3,10,12]))

[4, 9, 100, 144]

In [34]:
square_list([12,13,14,15])

[144, 169, 196, 225]

In [ ]:
x = 10
y = 12

x if x > y else y

In [35]:
maximum = lambda x,y : x if x > y else y
maximum(10,12)

12

In [36]:
maximum(100,12)

100

In [37]:
maximum = lambda x,y : print(f'{x} is greater') if x > y else print(f'{y} is greater')
maximum(10,12)

12 is greater

In [38]:
maximum(100,12)

100 is greater

# Higher Order Functions

In [ ]:
When we are using function as a parameter to the other function

In [ ]:
map(function, iterables)
filter(function, iterable)