short hand if statement

In [29]:
salary=700000
if salary>50000:
        print("salary is high")

salary is high

Loop

In [35]:
str="hii this is python"
for i in str:
    print(i)

h
i
i

t
h
i
s

i
s

p
y
t
h
o
n

In [51]:
str1="python"
print(len(str1))
for chr1 in str1:
    print(chr1)

6
p
y
t
h
o
n

In [57]:
lst1=[12,43,45,32,56,67,89]
for i in lst1:
    if i%2==0:
      print(i)

12
32
56

In [73]:
lst1=[1,2,3,4,5]  #1*2*3*4*5
mul=1
for i in lst1:
    mul=mul*i  #mul=1*1=1  mul=1*2=2  mul=2*3=6

print(mul)

120

In [87]:
a=["onkar","neeta","such","indrayani","sujana"]
for i in a:
    if len(i)==5:
          print(i)

onkar
neeta

In [ ]:
Loop control statement

In [ ]:
break statement

In [89]:
for i in range (1,10):
    print(i)
    if i==5:
        print("hello")
        print("value found")
        break

1
2
3
4
5
hello
value found

In [93]:
for i in range (1,10):
    print(i)
    if i==5:
        print("hello")
        break
        print("value found")

1
2
3
4
5
hello

In [99]:
for i in range (1,10):
    print(i)
    if i==5:
        print("hello")
        print("value found")
    break

1

In [117]:
for i in range (1,10,2):
   print(i)

1
3
5
7
9

In [137]:
lst1=[2,3,5,6,"python",6,8.98,"class"]
 
for i in lst1:
      print("item----->",i)
       if type(i)==str:
          print("string found ")
       break
     print("hello")

IndentationError: unindent does not match any outer indentation level (<string>, line 8)

2.continue

In [139]:
for num in range (10,15):
   print("number is : ",num)
   if num==12:
      print("required number found")
      continue

number is :  10
number is :  11
number is :  12
required number found
number is :  13
number is :  14

for - else

In [141]:
for i in range(5):
    print(f"value of i ---->{i}")
else:
    print("for loop completed")

value of i ---->0
value of i ---->1
value of i ---->2
value of i ---->3
value of i ---->4
for loop completed