# Function

In [2]:
print("hello")
print("hi")
print("good")

hello
hi
good

In [ ]:
function is a orgnised block of reusable code

function will exceute only when it is called

In [ ]:
# rules to define a function name
# 1.must start with _ or alphabates
# 2.does not conatin special char. and space
# 3.can not defiend a fucntion using reserved keyword
# 4. can not start wit number

In [ ]:
def >> definition

In [16]:
def function_name():
    print("we are testing function")
    print("Hello")
    
    for i in range(5):
        print("python and data science")

# calling the fubction
function_name()
print()
function_name()
print()
function_name()

we are testing function
Hello
python and data science
python and data science
python and data science
python and data science
python and data science

we are testing function
Hello
python and data science
python and data science
python and data science
python and data science
python and data science

we are testing function
Hello
python and data science
python and data science
python and data science
python and data science
python and data science

In [18]:
a=[2,3,4,5,6,345,56]
add=0
for i in a:
    add=add+i
print("Addition of elements in a list",add)

Addition of elements in a list 421

In [28]:
def addition():
    c=[2,3,4,5,6,345,56]
    add=0
    for i in c:
        add=add+i
    print("Addition of elements in a list",add)
addition()
print(c)

Addition of elements in a list 421

NameError: name 'c' is not defined

In [30]:
def addition():
    c=[2,3,4,5,6,345,56]
    add=0
    for i in c:
        add=add+i
    print("Addition of elements in a list",add)
addition()
# print(c)

Addition of elements in a list 421

In [38]:
def addition(lst):  # lst=[1,2,3,5]
    add=0
    for i in lst:
        add=add+i
    print("Addition of elements in a list",add)
addition([1,2,3,5],[3,4,5,6])

TypeError: addition() takes 1 positional argument but 2 were given

In [ ]:
function_name(arguments1,argument2,...)
number of arguments=no of parameters
arguments >> it is a value is passed to function when it is calledf
parameter >> it is used when  defining a function

In [36]:
def addition(): # 
    lst=[1,2,3,5]
    add=0
    for i in lst:
        add=add+i
    print("Addition of elements in a list",add)
addition([3,4,5,6,9])

Addition of elements in a list 11

In [44]:
def addition(a,b,c):
    avg=(a+b+c)/3  # local variable
    print(avg)
# addition(4,5,6)

addition(6,34,89)

43.0

In [48]:
x,y,z=10,20,30  # global varible
addition(x,y,z)

20.0

In [50]:
addition(x,y)

TypeError: addition() missing 1 required positional argument: 'c'

In [52]:
def addition(a,b,c):  # parameters
    avg=(a+b+c)/3  # local variable
    print(avg)
# addition(4,5,6)

x=20  # global varible
y=45
z=67
addition(x,y,z)  # arguments

44.0

In [ ]:
function odd and even number from list

In [63]:
def get_even_odd(lst):
    even_no_list=[i for i in lst if i%2 ==0]
    odd_no_list=[i for i in lst if i%2 !=0]
    print("even number list",even_no_list)
    print("odd number list",odd_no_list)
get_even_odd([2,3,4,5,3,2,2,3,56,54,22,33,46,78,97,65,45])

even number list [2, 4, 2, 2, 56, 54, 22, 46, 78]
odd number list [3, 5, 3, 3, 33, 97, 65, 45]

In [58]:
def get_even_odd(lst):
    even_no_list=[i for i in lst if i%2 ==0]
    odd_no_list=[i for i in lst if i%2 !=0]
    # print("even number list",even_no_list)
    # print("odd number list",odd_no_list)
get_even_odd([2,3,4,5,3,2,2,3,56,54,22,33,46,78,97,65,45])

# return

In [ ]:
it is used to end the function
output of fuction is returned by using return statemnt
if you  to continue work with the function output value and try out the some operation on it
you can use return statement

In [65]:
def get_even_odd(lst):
    even_no_list=[i for i in lst if i%2 ==0]
    odd_no_list=[i for i in lst if i%2 !=0]
    return "Sucess"
get_even_odd([2,3,4,5,3,2,2,3,56,54,22,33,46,78,97,65,45])

'Sucess'

In [82]:
def get_even_odd(lst):
    even_no_list=[i for i in lst if i%2 ==0]
    odd_no_list=[i for i in lst if i%2 !=0]
    print("even number list",even_no_list)
    print("odd number list",odd_no_list)
a=get_even_odd([2,3,4,5,3,2,2,3,56,54,22,33,46,78,97,65,45])
print(a)

even number list [2, 4, 2, 2, 56, 54, 22, 46, 78]
odd number list [3, 5, 3, 3, 33, 97, 65, 45]
None

In [88]:
def get_even_odd(lst):
    even_no_list=[i for i in lst if i%2 ==0]
    odd_no_list=[i for i in lst if i%2 !=0]
    return even_no_list
a=get_even_odd([2,3,4,5,3,2,2,3,56,54,22,33,46,78,97,65,45])
print(a)
a.append(10000)
a

[2, 4, 2, 2, 56, 54, 22, 46, 78]

[2, 4, 2, 2, 56, 54, 22, 46, 78, 10000]

In [5]:
def square(start,end):
    lst1=[]
    lst2=[]
    
    for i in range(start,end+1):
        if i%2==0:
            lst1.append(i**2)
        else:
            lst2.append(i**2)
    return lst1,lst2
a,b=square(12,56)
print(a)
print(b)

[144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136]
[169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025]

In [19]:
def square(start,end):
    lst1=[]
    lst2=[]
    
    for i in range(start,end+1):
        if i%2==0:
            lst1.append(i**2)
        else:
            lst2.append(i**2)
    return "Suceess","dsf","sfsfg"
a,b,c=square(12,56)
print("Oyto",a)
print("Oyto",b)
print("Oyto",c)

Oyto Suceess
Oyto dsf
Oyto sfsfg

In [ ]:
def factorial(number):
    #code
    return fact

In [ ]:
def fabinaaci(number):
    #code
    return fibo

In [ ]:
def prime_in_range(start,end):
    #code
    return primt_lst

# function arguments

In [ ]:
1.positional argument
2.default arguments
3.keyword argument
4.arbitary positional
5.arbitary keyword

# positional argument

In [28]:
def addition(a,b):
    print(a)
    print(b)
    add=a+b
    return add
addition(1,2)

1
2

3

In [31]:
def addition(a,b):
    print(a)
    print(b)
    add=a+b
    return add
addition(2,1)

2
1

3

In [43]:
def good(y,z):
    print(y)
    print(z)
    add=y+z
    return add
good(2,1)

2
1

3

In [ ]:
no.of argument=no. of parametrs
it is the arguments which is passed in specific order to a function

# 2.default argument

In [48]:
def bad(y=40,z=30):
    print(y)
    print(z)
    add=y+z
    return add
bad()

40
30

70

In [50]:
def bad(y=40,z=30):
    print(y)
    print(z)
    add=y+z
    return add
bad(23,45)

23
45

68

In [54]:
def bad(r,t,y=40,z=30):
    print(y)
    print(z)
    print(r)
    print(t)
    add=y+z
    return add
bad(23,45)

40
30
23
45

70

In [66]:
def bad(r,t,y=40,z=30):
    print(y)
    print(z)
    print(r)
    print(t)
    add=y+z
    return add
bad(23,45)

40
30
23
45

70

In [68]:
def bad(r,t,y=40,z=30):
    print(y)
    print(z)
    print(r)
    print(t)
    add=y+z
    return add
bad(23,45,98,67)

98
67
23
45

165

# keyword

In [ ]:
it is passed using parameter name

In [71]:
def bad(r,t):
    print(r)
    print(t)
    add=r+t
    return add
bad(t=45,r=23)

23
45

68

In [75]:
def addition(x,y):
    # print(x)
    # print(y)
    add=x+y
    return add
addition(2,1)

3

# arbitary postional arguments

In [ ]:
if we dont know number of positional argument to be passed
*args >> *argumets
datatype of args variable is tuple

In [86]:
def addition(*x):
    print(x)
    print(type(x))
    # print(y)
    add=sum(x)
    return add
addition(2,1,45,7,3)

(2, 1, 45, 7, 3)
<class 'tuple'>

58

In [88]:
def addition(d,c,*x):
    print(x)
    print(d)
    print(c)
    print(type(x))
    # print(y)
    add=sum(x)
    return add
addition(2,1,45,7,3)

(45, 7, 3)
2
1
<class 'tuple'>

55

In [90]:
def addition(*x,d,c):
    print(x)
    print(d)
    print(c)
    print(type(x))
    # print(y)
    add=sum(x)
    return add
addition(2,1,45,7,3)

TypeError: addition() missing 2 required keyword-only arguments: 'd' and 'c'

In [100]:
def addition(d,c,*x,v=45,n=78):
    print(x)
    print(d)
    print(c)
    print(n)
    print(v)
    print(type(x))
    # print(y)
    add=sum(x)
    return add
addition(34,56,7,8,9,0,64,23)

(7, 8, 9, 0, 64, 23)
34
56
78
45
<class 'tuple'>

111

In [102]:
def addition(d,c,v=45,n=78,*x):
    print(x)
    print(d)
    print(c)
    print(n)
    print(v)
    print(type(x))
    # print(y)
    add=sum(x)
    return add
addition(34,56,7,8,9,0,64,23)

(9, 0, 64, 23)
34
56
8
7
<class 'tuple'>

96

In [80]:
a=3,4,5,6,7
type(a)

tuple

In [ ]:
# positional >> arbitary postional >> default/keyword >> arbitary keyword

# arbitary keyword

In [111]:
def addition(c=35,d=45):
    print(c)
    print(d)
addition()

35
45

In [117]:
def addition(**d):
   print(d)
addition(f=45,y=67,t=67,u=67)

{'f': 45, 'y': 67, 't': 67, 'u': 67}

In [125]:
def addition(**d):
    r=sum(d.values())
    return r
addition(f=45,y=67,t=67,u=67)

246

In [121]:
def addition(f=45,y=67):
   print(f)
addition(f=45,y=67,t=67,u=67)

TypeError: addition() got an unexpected keyword argument 't'