operator

In [4]:
lst=[1,2,3,4,5,6,7]
8 in lst

False

In [14]:
a=256  
b=256 
a is b

True

In [28]:
 a=20
 b=10

 if a is b:
    print("same memory location")

else:
    print("not same memory location")

not same memory location

In [48]:
lst=[1,2,3,4,5,6,5]
a=5
if  a is lst:
 print("present")
else: 
   print("absent")

absent

In [56]:
a=30
b=20
if  a>b:
    print("hello")
elif a==b:
    print("good")
else :
    print("ok")

hello

pass statement

In [58]:
#if any statemnt 
a=10
b=20
if a>b:
    print("hello")
    pass
else:
    print("bye")
    pass

bye

In [ ]:
# if statement

In [ ]:
#age salary cibil_score

In [90]:
age= 27
salary=50000
cibil=780

if  age>26:
    print("age above criteria satisfied")
    
    if salary>48000:
        print("salary grater than criteria ")
        
        if cibil>750:
            print("cibil score satisfied")
            
            print("congrates , loan is approved")
            
        else :
            print("cibil score not satisfied")
    else:
        print("salary low due to declined")

else: 
    print("age declined due low ")

age above criteria satisfied
salary grater than criteria
cibil score satisfied
congrates , loan is approved