In [1]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [1]:
   print("Hello, World!")
   print(42)

Hello, World!
42

In [3]:
   my_list = [1, 2, 3]
   print(my_list)

[1, 2, 3]

In [2]:
syntax:
    print(*args, sep=' ', end='\n', file=None, flush=False)

SyntaxError: invalid syntax (547238418.py, line 1)

In [8]:
a=10
b=20

print(a)
print(b)

10
20

In [14]:
a=10
b=20
a
b

20

In [ ]:
print(a,end="\n")  # by default #\n is escape character --> go to next/line/next line

In [ ]:
shift+tab --> give you functaionality of any built in function

In [16]:
print(a,end="\n")
print(b)

10
20

In [18]:
print(a,end="++")
print(b)

10++20

In [20]:
print(a,end="++")
# print(b)

10++

In [22]:
print(a,end="**")
print(b)
print(10)

10**20
10

In [26]:
str.isupper

In [44]:
print(a,b)

10 20

In [40]:
print(a,b,sep="         ")

10         20

In [36]:
print(a,b,sep="--")

10--20

In [46]:
a=10
b=20
c=30
print(a,b,sep="---",end="\n")
print(c)

10---20
30

In [48]:
a=10
b=20
c=30
print(a,b,sep="---",end="$$$$$")
print(c)

10---20$$$$$30

In [50]:
a=10
b=20
c=30
print(a,b,sep="\n",end="$$$$$")
print(c)

10
20$$$$$30

In [52]:
a=10
b=20
c=a+b
print("addition of 10 and 20:",c)

addition of 10 and 20: 30

In [56]:
a=20
b=20
c=a+b
print("addition of 10 and 20:",c)

addition of 10 and 20: 40

In [58]:
a=20
b=20
c=a+b
print("addition of a and b:",c)

addition of a and b: 40

In [60]:
a=50
b=20
c=a+b
print(f"addition of {a} and {b}: {c}")

addition of 50 and 20: 70

In [54]:
a=50
b=20
c=a+b
print("addition of {a} and {b}: {c}")

addition of {a} and {b}: {c}

# .format()

In [62]:
a=50
b=20
c=a+b
print("addition of {} and {} is: {}")

addition of {} and {} is: {}

In [64]:
a=50
b=20
c=a+b
print("addition of {} and {} is : {}".format(a,b,c))

addition of 50 and 20 is : 70

In [68]:
a=50
b=20
c=a*b
print("addition of {} and {} is : {}".format(b,a,c))

addition of 20 and 50 is : 1000

In [70]:
a=50
b=20
c=a+b
print("addition of {} and {} is : {}".format(c,a,b))

addition of 70 and 50 is : 20

# 3. % operator

In [74]:
''' integer =%d
float=%f
string=%s '''

' integer =%d\nfloat=%f\nstring=%s '

In [2]:
x=100   # int
y="Ramkrishna"  # string
z=34.67    # float

print(f"x=={x}")
print("x=={}".format(x))
print("x==%d" %x)

x==100
x==100
x==100

In [4]:

x=100   # int
y="Ramkrishna"  # string
z=34.67    # float
print("x is %d" %x)
print("y is %s" %y)
print("z is %f" %z)

x is 100
y is Ramkrishna
z is 34.670000

In [12]:
x=100   # int
y="Ramkrishna"  # string
z=34.67    # float
print("x is %d" %x)
print("y is %s" %y)
print("z is %f" %z)

x is 100
y is Ramkrishna
z is 34.670000

In [14]:
x=100   # int
y="Ramkrishna"  # string
z=34.67    # float
print("x is %f" %x)
print("y is %d" %y)
print("z is %f" %z)

x is 100.000000

TypeError: %d format: a real number is required, not str

In [16]:
x=100   # int
y="Ramkrishna"  # string
z=34.67    # float
print("x is %f" %x)
print("y is %s" %y)
print("z is %d" %z)

x is 100.000000
y is Ramkrishna
z is 34

In [18]:
x=100   # int
y="Ramkrishna"  # string
z=34.67    # float
print("x is %s" %x)
print("y is %s" %y)
print("z is %d" %z)

x is 100
y is Ramkrishna
z is 34

In [20]:
a=10
type(a)

int

In [22]:
a="10"
type(a)

str

# type casting

In [24]:
a=10
b=39
c=34.56
a=float(a)
a

10.0

In [26]:
a=10
b=98
c=34.56
b=int(c)
b

34

In [28]:
a=10
b=98
c=34.56
b=str(c)
b

'34.56'

In [40]:
d=4+45j
type(d)

complex

# Datatypes

In [32]:
'''' 6 major datatypes

1.numeric datatype: int, float, complex

2.text datatype: str

3.sequence Datatype: list,tuple

4.Mapping Datatype : dict  {key :value}

5.Set Datatype : set , frozenset

6.Boolean Datatype : bool(True/False)'''

"' 6 major datatypes\n\n1.numeric datatype: int, float, complex\n\n2.text datatype: str\n\n3.sequence Datatype: list,tuple\n\n4.Mapping Datatype : dict  {key :value}\n\n5.Set Datatype : set , frozenset\n\n6.Boolean Datatype : bool(True/False)"

In [6]:
a=10
type(a)

int

In [36]:
a=10.67
type(a)

float

In [38]:
a=10.67+34j
type(a)

complex

In [42]:
a="Hi this is python class at 1: 00 pm"
type(a)

str

In [44]:
a=[10,20,30,"str",12.34,34+5j]
type(a)

list

In [46]:
a=(10,20,30,"str",12.34,34+5j)
type(a)

tuple

In [48]:
a={10,20,30,"str",12.34,34+5j}
type(a)

set

In [52]:
input1={"b":30,"m":34}
type(input1)

SyntaxError: invalid syntax (3047285821.py, line 1)

In [ ]:
a=23
b=87
a==b

In [ ]:
a=23
b=87
a!=b

# variables

In [ ]:
variable is used to store any value
python has no command to declare variable
there is no need to specify datatype of variable
equal operator is used to assign a value to variable

In [2]:
a=10
type(a)

int

In [4]:
var a=10

SyntaxError: invalid syntax (743087725.py, line 1)

In [6]:
abcd="23"
type(abcd)

str

# rules to define varibales

In [ ]:
1.variable must start with alphabate(A-Z/a-z) or underscore(_)

2.case sensitive

3.all charcter may be alphanumeric(a-z,A-Z,0-9) or underscore

4.must not contain special character(@,!#,%,^,&,*,....)

5.do not use any reserved keywords

In [ ]:
myvar=100
Myvar=21
myVar=34
__myvar=234
my__var=98
# my@123=45
# 123my_var=09
myvar123=76
str=23`

In [ ]:
help("keywords")

# Literals

In [ ]:
a=10  # 10 is an intiger literal
a=10 # fixed value  # 10 is literal  #int is datatype

# identifier

In [ ]:
a=10  # storage location for holding data  # variable
# a name identify a varibale, function ,class
# used to lable or refer to entity like variable
# act as name

In [ ]:
name="alice"