# Dictionary

In [ ]:
# frozen - its unorder,imutable , duplicate not allowed .
# dict - orderd, mutable,duplicate not allowed .

In [3]:
d1={"A":54,"B":65}
len(d1)

2

In [11]:
d1={"A":65,"B":21}
len(d1)

2

In [ ]:
# Access dictionary items

In [17]:
Emp={"empname":"neeta","salary":60000,"company":"ITV"}

In [19]:
Emp.get("salary")

60000

In [27]:
Emp.get("empname")

'neeta'

In [35]:
Emp={"empname":"neeta","salary":60000,"company":"ITV"}
for i in Emp.items():
    print(i)

('empname', 'neeta')
('salary', 60000)
('company', 'ITV')

In [43]:
Emp={"empname":"neeta","salary":60000,"company":"ITV"}
for i ,v in Emp.items():
    print(f"key--->{i},      value is {v}")

key--->empname,      value is neeta
key--->salary,      value is 60000
key--->company,      value is ITV

In [47]:
Emp={"empname":"neeta","salary":60000,"company":"ITV"}

Emp["salary"]=90000

In [49]:
Emp

{'empname': 'neeta', 'salary': 90000, 'company': 'ITV'}

In [ ]:
# update

In [ ]:
dict1.update(dict2)
input only dictionary

In [57]:
Emp={"empname":"neeta","salary":60000,"company":"ITV"}
New_dict={"salary":5000,"Comapany":"Infosis","Age":65}
Emp.update(New_dict)   # update  new value or key 
Emp

{'empname': 'neeta',
 'salary': 5000,
 'company': 'ITV',
 'Comapany': 'Infosis',
 'Age': 65}

In [ ]:
# Pop

In [63]:
emp={'empname': 'neeta',
 'salary': 5000,
 'Company': 'Infosis',
 'Age': 65}
emp.pop('Company')    # delete key
emp

{'empname': 'neeta', 'salary': 5000, 'Age': 65}

In [65]:
emp={'empname': 'neeta',
 'salary': 5000,
 'Company': 'Infosis',
 'Age': 65}
emp.popitem()    # last key are delete of dictionary 
emp

{'empname': 'neeta', 'salary': 5000, 'Company': 'Infosis'}

In [67]:
emp={'empname': 'neeta',
 'salary': 5000,
 'Company': 'Infosis',
 'Age': 65}
emp.clear()    # clear of dictionary 
emp

{}

In [ ]:
# nested dictionary

In [75]:
emp_info={"CG001":{'empname': 'neeta',
                   'salary': 5000,
                   'Company': 'Infosis',
                  'Age': 65}
"CG002":{'empname': 'tushar',
           'salary': 60000,
           'Company': 'Wipro',
           'Age': 23}
"CG003":{'empname': 'suyjot',
        'salary': 41000,
        'Company': 'ITV',
        'Age': 50}}
emp_info["CG002"]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2446554177.py, line 1)

# Square of 11 to 20 Numbers

In [93]:
num=[11,12,13,14,15,16,17,18,19,20]
dict1={}
for i in range (11,21):
    dict1[i]=i**2
dict1

{11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [ ]:
dict1 ={}

In [ ]:
# sort the according to value 
# give solution by U(H.W)

# Function

In [ ]:
 # fromkeys()
Create dict with same value for all keys

In [96]:
dict1 = dict.fromkeys(["a","b","c","d"],100)
dict1

{'a': 100, 'b': 100, 'c': 100, 'd': 100}

# Setdefault

In [99]:
dict1={'a': 10, 'b': 25, 'c': 654, 'd': 45}
dict1.setdefault("a")

10